@*Modified by: Ash Duhautois 05/04/2016
    Formatted styles*@

@using com.GreenThumb.MVC.Models;
@using com.GreenThumb.BusinessObjects;
@model ContributionsDetailViewModel
@{
    ViewBag.Title = "ViewContributions";
}

<h1>Contributions</h1>
<div class="dark-div round">
    <div>
        <h3>Pending Contributions</h3>
        @Html.Partial("~/Views/PartialViews/_NeedsContributionsTable.cshtml", Model.PendingContributions)
    </div>
</div>
<div class="dark-div round">
    <div>
        <h3>Accepted Contributions</h3>
        @Html.Partial("~/Views/PartialViews/_NeedsContributionsTable.cshtml", Model.ApprovedContributions)
    </div>
</div>
<div class="dark-div round">
    <div>
        <h3>Declined Contributions</h3>
        @Html.Partial("~/Views/PartialViews/_NeedsContributionsTable.cshtml", Model.DeclinedContributions)
    </div>
</div>

