
@{
    ViewBag.Title = "SuccessRequest";
}

<h1>Requests</h1>

<div class="dark-div round">
    @using (Html.BeginForm())
    {
        <h3>Your Expert Request</h3>
        <br />
        <p class="text-center">Your request is being processed and you will recieve a message once approved. Thank You!</p>
    }
</div>
