@*Edited by: Ash Duhautois 05/04/2016
    Formatted styling*@

@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div class="dark-div round">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
