@*Edited by: Ash Duhautois 05/04/2016
    Formatted styling*@

@{
    ViewBag.Title = "Contact";
}

<h1 class="top-pad-lite inline-block">@ViewBag.Title</h1>

<div class="dark-div round">
    <h3 class="text-center">Need assistance? We're here to help.</h3>


    <img class="inline-block logo" src="http://www.pixeledpaper.com/shared/img/contact.png" />

    <br/>

    <address class="text-center">
        6301 Kirkwood Blvd SW<br />
        Cedar Rapids, Iowa 52404<br />
        <abbr title="Phone">P:</abbr>
        319.398.2010
    </address>

    <address class="text-center">
        <strong>Support:</strong>   <a href="mailto:support@greenthumb.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@greenthumb.com">Marketing@example.com</a><br />
    </address>
</div>